@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mx-auto px-4;
    @apply bg-slate-100 text-slate-800 dark:bg-slate-800 dark:text-slate-300  transition ease-in-out
  }
  
}
@layer utilities {
::-webkit-scrollbar {
  width:2em;
}
::-webkit-track {
  background:hsl(4, 92%, 30%);
}
::-webkit-scrollbar-thumb {
  width:100vw;
}
}