/**
  --color-primary: hsl(210, 33%, 98%);
  --color-secondary: hsl(177, 43%, 91%);
  --color-cta: hsl(177, 50%, 46%);
  --color-text-primary: hsl(228, 19%, 5%);
  --color-primary-dark: hsl(228, 19%, 5%);
  --color-secondary-dark: hsl(213, 24%, 16%);
  --color-cta-dark: hsl(176, 96%, 69%);
  --color-text-primary-dark: hsl(210, 2%, 78%);
*/

.grid{
  position: relative;
  width: 100vw;
  /*height: 100%;*/
  min-height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows:  auto 1fr;
  grid-template-areas:
    'header header'
    'sidenav main';
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 50;

}

.sidenav{
  grid-area: sidenav;
  position: fixed;
  top: 5rem;
  left:0;
  width: 6rem;
  height: calc(100% - 5rem);
  transition: all 0.3s;
  z-index:20;
  background-color:var(--color-cta);
}

.sidenav :hover{
  left:-20rem;
  background-color:var(--color-primary);
}

.main{
  grid-area: main;
  position: absolute;
  top: 5rem;
  left: 6rem;
  right:0;
  width: auto;
  height: calc(100% - 5rem);
  transition: all 0.3s;

  background-color:(--color-primary);
}

.main.close{
  left:0;
}

